* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

@font-face {
    font-family:'Greenth';
    src: url('./fonts/Greenth_Personal_Use.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --yellow: #fcc521;
    --orange: #F6A50F;
    --blue: #181D47;
    --white: #fff;
}

body {
    display: grid;
    align-items: center;
    justify-content: center;
}

body.dark-mode #container {
    background-color: var(--blue);
}

#container {
    background-color: var(--yellow);
    max-width: 1440px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    padding: 25px 0;
    justify-content: center;
}

.logo {
    max-width: 280px;
}

.logo {
    transform: translate(45px, 10px);
}

.menu {
    background-color: var(--orange);
    margin: 60px;
    padding: 10px 10px;
    border-radius: 35px;
    text-align: center;
}

.menu {
    transform: translate(25px);
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:space-around;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: var(--blue);
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 15px;
    display: block;
}

.menu a:hover {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 30px;
    padding: 10px 15px;
}

.icone-sol {
    max-width: 125px; 
    cursor: pointer;
}

.icone-sol {
    transform: translate(-20px, 0);
}

.login {
    max-width: 145px;
    cursor: pointer;
}

.login {
    transform: translate(-65px, 0);
}

body.dark-mode .icone-sol {
    content: url('./imagens/icone_lua.svg');
}

.boas-vindas {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boas-vindas {
    transform: translate(-200px, -70px);
}

.imagem {
    text-align: center;
    margin-top: 30px;
}

.imagem-home {
    width: 1200px;
}

.texto-boas-vindas {
    color: var(--blue);
}

body.dark-mode .texto-boas-vindas {
    color: var(--orange);
}

.texto-boas-vindas h1 {
    font-size: 40px;
    margin-bottom: 25px;
    white-space: nowrap;
    font-family: 'Greenth';
    font-weight: 400;
}

.texto-boas-vindas p {
    font-size: 22px;
    line-height: 1.3;
    text-align: justify;
}

.texto-boas-vindas {
    transform: translate(-270px, -20px);
}
